JOB_DB_PATH=/var/lib/mini-orch/jobs.db

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWD={{ redis_password }}

STATUS_STREAM_KEY=jobs:status
STATUS_GROUP=status-updaters
STATUS_BLOCK_MS=5000
