REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=1
REDIS_PASSWD={{ redis_password }}

SNMP_NODES={{ snmp_nodes | join(",") }}
SNMP_COMMUNITY=public
SNMP_POLL_INTERVAL=5
SNMP_RETENTION_HOURS=3

SNMP_OIDS={{ snmp_oids | join(",") }}
